/* DEVELOPER Steven Lopez, IS117-001, Fall 2019 */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color:  #d4d4c3;;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 99%;                     
    max-width: 960px;
    margin: 0 auto;
    border: 3px solid #000000;
    background-color: white;
}
a:focus, a:hover {
	font-style: italic;
	color: #0056b3;
	text-decoration: underline;
}
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #000000;
		background-image: -moz-linear-gradient(
	    30deg, #991CE4 0%, #991CE4 30%, white 50%, #991CE4 80%, #991CE4 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #991CE4 0%, #991CE4 30%, white 50%, #991CE4 80%, #991CE4 100%);
	background-image: -o-linear-gradient(
	    30deg, #991CE4 0%, #991CE4 30%, white 50%, #991CE4 80%, #991CE4 100%);
	background-image: linear-gradient(
	    30deg, #991CE4 0%, #991CE4 30%, white 50%, #991CE4 80%, #991CE4 100%);
}
header h2 {
	font-size: 175%;
	text-align:center;
	color: #000000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 5.25%;      
}

#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0 ;
	position: relative;
	
}
#nav_menu ul li {
	float: left;
    width: 16%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #c1cede;
    color: #000000;
    font-weight: bold;
}
#nav_menu ul ul {
	width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
main {
	clear: left;
}

section {                 
	width: 65.625%;                  
	float: right;
	padding: 0 2.5% 20px 2.5%;      
}

section p {
	padding-bottom: .5em;
}


aside {
	width: 26.875%; 
	font-size:20px;
	float: left;
	padding: 0 0 20px 2.5%;             
}

textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: auto;
  resize: horizontal;
}

fieldset {
  padding: 1em 0;
  margin: 0;
  border: 3px solid #000000;
  clear: left;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

footer {
	clear: both;

}
footer p {
	text-align: center;
	color: #000000;
	padding: 1em 0;
}
#mobile_menu {
	display: none;
}

@media only screen and (max-width: 959px) {
	section h1 { font-size: 135%; }
	section h2, aside h2 { font-size: 120%; }
}

@media only screen and (max-width: 767px) {
	header img { float: none; }
	header { text-align: center; }
	section {
		float: none;
		width: 95%;                     
	}
	aside {
		float: none;
		padding-right: 2.5%;           
		width: 95%;                   
	}
	article img { max-width: 30%; }
	#menu {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		background-color: #c1cede !important;
	}
}

@media only screen and (max-width: 479px) {
	body { font-size: 90%; }
}
